@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import "tailwindcss";


@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Bubblegum Sans font */

/* Custom utility class for Bubblegum Sans font */
@layer utilities {
  .poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}

